.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 80%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 70%
    right: 35%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 1%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
///////////CUSTOM BANNER PRINCIPAL E INTERNO/////////////
.banner-principal .tarjeta
  background-position: left 50% !important

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important

.banner-interno__titulo__icono i
  color: $color-primario

figcaption
  font-weight: normal

.banner-principal__row .banner-principal__img
  width: 500px !important
  @media screen and (max-width: $bp-max-xl)
    width: 400px !important

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $color-sistema-texto !important
.banner-interno__fondo
  background-image: url("../assets/curso/banner_interno.png") !important
.banner-principal .tarjeta
  @media screen and (max-width: $bp-max-md)
    background-image: url("../assets/curso/portada/fondo-banner-principal-sm.png") !important
  @media screen and (max-width: $bp-max-sm)
    background-image: url("../assets/curso/portada/fondo-banner-principal-xs.png") !important

//////////Background_Color///////////
.bg-color
  &-1
    background-color: #E8F9F3
    border: solid 3px #26C790
  &-2
    border: dashed 3px #FDBAB3
  &-3
    background-color: #FEE3E0
  &-4
    color: #26C790 !important
  &-5
    background-color: #E8F9F3
  &-6
    background-color: #26C790
  &-7
    background: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgba(232, 249, 243, 1) 20%, rgba(255, 245, 231, 1) 80%, rgba(255, 255, 255, 1) 100%)
  &-8
    background-color: #0C225B
  &-9
    background-color: #FFA622
  &-10
    background-color: #FDBAB3
  &-11
    background-color: #1944B6
  &-white
    background-color: white !important
    border: 1px solid $lightest-gray
  &-secundario
    background-color: $color-secundario !important
  &-sintesis
    background-color: #F6F6F6


///////Full Width Background///////////////////
.bg-full-width
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
  @media screen and (max-width: $bp-max-sm)
    padding-left: 1.5rem
    padding-right: 1.5rem
.bg-full-width-2
  background-size: contain
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
  @media screen and (max-width: $bp-max-sm)
    padding-left: 1.5rem
    padding-right: 1.5rem

///////////////fondos/////////////////
.bg-fondo
  &-1
    background-image: url("../assets/curso/bg1.png") !important
    background-position: top
  &-2
    //background-image: url("../assets/bg/bg2.png") !important
    background-position: bottom
  &-slider
    background-image: url("../assets/curso/bg-slider.png") !important
    background-position: bottom

//CLASES TITULOS//
.titulo-con-imagen
  display: flex
  align-items: center
  position: relative
.titulo-con-imagen__fondo
  background-color: #FFA622
  border-radius: 10px
  padding: 5px 20px
  display: inline-flex
  align-items: center
.titulo-con-imagen__imagen
  position: absolute
  left: 0px
  width: 50px
.titulo-con-imagen__texto
  margin: 0
  padding-left: 40px

.tbl
  ///////////////TABLAS/////////////////// 
  table td
    text-align: center !important
  th, td, table thead th, .tabla-a th 
    border: 2px solid #B5B5B5
    padding: 15px 10px
  table
    table-layout: auto
    min-width: 500px